{% extends "layout.html" %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static "welcome/carousel.css" %}"/>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "welcome:welcome" %}">PRECIOUS</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="{% url "welcome:welcome" %}">Intro
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "welcome:overview" %}">사업개요</a></li>
                            <li><a href="{% url "welcome:architect" %}">건축가소개</a></li>
                            <li><a href="{% url "welcome:community" %}">단지소개</a></li>
                            <li><a href="{% url "welcome:environment" %}">입지소개</a></li>
                            <li><a href="{% url "welcome:visitus" %}">오시는길</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="{% url "welcome:house" %}">Types
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "welcome:house_a" %}">A type(192)</a></li>
                            <li><a href="{% url "welcome:house_b" %}">B type(219) </a></li>
                            <li><a href="{% url "welcome:house_c" %}">C type(238)</a></li>
                            <li><a href="{% url "welcome:house_d" %}">D type(267)</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url "welcome:reservation" %}">Reservation</a></li>
                    <li><a href="{% url "dashboard:dashboard" %}">Dashboard</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"> Community </a></li>
                    <li><a href="#"> Events </a></li>
                    <li><a href="#"> Management </a></li>
                </ul>
            </div>
        </div>
     </nav>
{% endblock %}
{% block extra_js %}

{% endblock %}
