{% extends "welcome/reservation_detail.html" %}
{% load bootstrap3 %}

{% block title %}
    {{ reservation.name }}님 상담예약
{% endblock %}

{% block verification %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <hr/>
                <h3 style="text-align:center;">내 분양문의 글 확인하기 </h3>
                <hr/>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %} <!--에러가 이렇게 보여짐 / 커스텀타입 -->
                    <input type="submit" class="btn btn-primary" style="margin-left:50%; margin-right:50%;" value="제출"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}