
{% load static %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {%block title%}
            프레셔스빌리지
        {% endblock %}
    </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static "style.css" %}"/>
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>

    {% block extra_head %}{% endblock %}
</head>

<body>
{% block navbar %}
{% endblock %}

{% block content %}
{% endblock %}


<div class="container">
    <hr/>
    <footer>
        <p> 2017 &copy; <a href="https://preciousvil.com" target=_blank">preciousvil.com</a></p>
    </footer>
</div>

<script src="/static/bootstrap/dist/js/bootstrap.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% block extra_js %}{% endblock %}
</body>
</html>